.padTB{
    padding-top: 10px;
    padding-bottom: 20px;
}
.boxPadTop{
    padding-top: 3px;
}
.padT5{
    padding-top: 5px;
}
.padtT10{
    padding-top: 10px;
}
.marT10{
    margin-top: 10px;
}
#parent {display: table}

#child {
  display: table-cell;
  vertical-align: middle;
 }
.imgborder {
  border: 1px solid rgba(13, 151, 157, 0.38);
}
.padT10 {
  padding-top: 25px;
}