@import url(https://fonts.googleapis.com/css?family=Francois+One);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
/*shrabon's code*/
body{
  overflow-x: hidden;
}
.navbar-form input, .form-inline input {
	width:auto;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:9999999;
}

#sidebar.affix-top {
    position: static;
}

#sidebar.affix {
    position: fixed;
    top: 80px;
}


.box {
  width: 100%;
  height: 560px;
  box-shadow: inset 1px 1px 40px 0 rgb(255, 255, 255);
  background: url(../images/background.jpg);
  background-size: cover;
  overflow: hidden;
  text-align: center;
}


.overlay {
  background: rgba(0, 0, 0, 0.13);
  height: 560px;;
  text-align: center;
  padding: 45px 0 66px 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  
}

.plus {
  font-family: Helvetica;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.85);
  font-size: 96px;
}
.heading1 {
  font-family: 'Bitter', serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  font-size: 40px;
  padding-top: 120px;
  padding-bottom: 20px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.btn-primary:hover {
  border: 0px;
}

.maxHeightWidth {
  max-height: 400px;
  max-width: 548px;
}


.icon-circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 100px;
  position: relative;
  text-align: center;
    border: 3px solid #ffffff;
     box-shadow: inset 0 0 0 5px #FFFFFF; 
    -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
     -webkit-transition: 500ms; 
    -webkit-transition: 500ms;
            transition: 500ms;
}
.icon-circle > span {
  border-style: solid;
  border-width: 2px;
  border-color: #45aed6;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 20px;
  right: 0px;
  top: 12px;
  color: #5bc0de;
  text-align: center;
}

#trigger:hover  .icon-circle {
  background-color: rgb(26, 119, 147);
  color: white;
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}

h3>a:hover{
  text-decoration: none;
}

.formHead {
  line-height: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

.placehold {
  color: grey;
}
select {
padding:4px;
margin: 0;
background: rgba(255, 255, 255, 0);
color:#888;
border:none;
outline:none;
display: inline-block;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
cursor:pointer;
width: 150px;
border-radius: 0px;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
select {padding-right:18px}
}

label {position:relative}
label:after {
content:"\f078";   
font-family: "FontAwesome";
font-size: 14px;
color:#aaa;
right:8px; top:5px;
padding:0 0 2px;
position:absolute;
pointer-events:none;
}
label:before {
content:'';
right:4px; top:5px;
width:23px; height:18px;
background:rgba(255, 255, 255, 0);
position:absolute;
pointer-events:none;
display:block;
}
.shopname {
  margin-left: -7px; 
  margin-top: -60px;
  color: rgba(52, 52, 52, 0.87);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  text-shadow: 0px 2px 1px rgba(108, 108, 108, 0.52),
             0px 4px 7px rgba(75, 75, 75, 0.1),
             0px 9px 11px rgba(52, 52, 52, 0.1);
}

@media(max-width:765px){
  .shopname {
  margin-left: -7px; 
  margin-top: -40px;
}

}
.signupHeader {
  font-family: 'Raleway', sans-serif;
  margin-top: 0px;
}

.nicename {
  padding-bottom: 20px;
}
hr{
  margin-top: 0px;
  margin-bottom: 5px;
}

.btn-poss {
  position: relative;
  top: -28px;
}

.fotpa {
  position: relative;
  z-index: 9999999999;
}
