
.block-of-block {
    background: rgb(245, 245, 245);
    border: 1px solid #e4e7ed;
    border-radius: 2px;
    padding: 10px;
    margin: 50px;
}

.block-title {
    background: white;
    margin-left: 50px;
    margin-bottom: -45px;
        background: 0 0;
    border: 0!important;
    color: #34313f;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3334;
    padding: 0!important;
}
.availablity{
     background: 0 0;
    border: 0!important;
    color: #34313f;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3334;
    margin-left: 50px;
    margin-bottom: 50px;
}

/*for spinner*/
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}