<!-- <header>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <aside class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
            <ul>
              <li id="text_template1" ><a href="#">free shipping</a></li>
              <li id="text_template2" ><a href="#">easy exchange & returns</a></li>
              <li id="text_template3" ><a href="#">cash on delivery</a></li>
            </ul>
          </aside>
          <aside class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
            <div class="rightnav">
              <ul>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">English <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">English</a></li>
                    <li><a href="#">Danish</a></li>
                    <li><a href="#">French</a></li>
                    <li><a href="#">Spanish</a></li>
                    <li><a href="#">Portugease</a></li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dollar&nbsp;(US)<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Dollar&nbsp;(US)</a></li>
                    <li><a href="#">Pound</a></li>
                    <li><a href="#">Euro</a></li>
                    <li><a href="#">Rupees</a></li>
                  </ul>
                </li>
                <li id="text_template4"><a href="#"><i class="fa fa-pencil"></i>Register</a></li>
                <li id="text_template5"><a href="#"><i class="fa fa-lock"></i>Login</a></li>
                <li id="text_template6" class="order"><a href="#">Order Status</a></li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <aside class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
            <img name="image" src="../../templates/uncategorized/tailor/resource/images/taboo.png" alt="Taboo">
          </aside>
          <aside class="col-xs-12 col-sm-6 col-md-8 col-lg-8 search">
            <input type="text" value="" name="">
          </aside>
          <div class="clearfix"></div>
          <nav class="navbar navbar-default mynavbar text-uppercase">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li id="text_template"  class="active"><a class="hvr-underline-from-center" href="#"><i class="fa fa-home"></i></a></li>
                <li id="text_template7" ><a class="hvr-underline-from-center" href="#">men</a></li>
                <li id="text_template8" ><a class="hvr-underline-from-center" href="#">women</a></li>
                <li id="text_template9" ><a class="hvr-underline-from-center" href="#">kids</a></li>
                <li id="text_template10" ><a class="hvr-underline-from-center" href="#">accessories</a></li>
                <li id="text_template11" ><a class="hvr-underline-from-center" href="#">process</a></li>
                <li id="text_template12" ><a class="hvr-underline-from-center" href="#">look book</a></li>
                <li id="text_template13" ><a class="hvr-underline-from-center" href="#">contact</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li id="text_template14" ><a href="#"><i class="fa fa-shopping-cart"></i> cart (0)</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header> -->

<body>
 <div id="container_background-1">
 	<div id="container_background-1_div-1">
		<!--banner part starts here-->
		<!-- <section class="banner">
			<div id="image_slider_template1">
				<div class="slider-wrapper">
					<div class="responisve-container">
						<div class="slider">
							<div class="fs_loader"></div>
							<div class="slide">
								<img
									src="../../templates/uncategorized/tailor/resource/images/bannerbg.jpg"
									width="auto" height="auto" data-position="0,-200" data-in="left"
									data-delay="200" data-out="right"> <img
									src="../../templates/uncategorized/tailor/resource/images/banner1.png"
									width="auto" height="auto" data-position="30,-120"
									data-in="bottomRight" data-delay="400"> <img
									src="../../templates/uncategorized/tailor/resource/images/banner2.png"
									width="auto" height="auto" data-position="110,390" data-in="top"
									data-delay="2000" data-out="left"> <img
									src="../../templates/uncategorized/tailor/resource/images/banner3.png"
									width="auto" height="auto" data-position="180,150"
									data-in="right" data-delay="3500" data-out="left"> <img
									class="denim_escape"
									src="../../templates/uncategorized/tailor/resource/images/offer.png"
									data-position="260,770" data-in="top" data-delay="5500"
									data-out="fade" data-ease-in="easeOutBounce"> <img
									class="denim_escape1"
									src="../../templates/uncategorized/tailor/resource/images/offer1.png"
									data-position="260,770" data-in="top" data-delay="5500"
									data-out="fade" data-ease-in="easeOutBounce"> <img
									class="denim_escape2"
									src="../../templates/uncategorized/tailor/resource/images/offer2.png"
									data-position="260,770" data-in="top" data-delay="5500"
									data-out="fade" data-ease-in="easeOutBounce"> <img
									class="denim_escape3"
									src="../../templates/uncategorized/tailor/resource/images/offer3.png"
									data-position="260,770" data-in="top" data-delay="5500"
									data-ease-in="easeOutBounce"> <img class="denim_escape4"
									src="../../templates/uncategorized/tailor/resource/images/offer4.png"
									data-position="260,770" data-in="top" data-delay="5500"
									data-ease-in="easeOutBounce"> <img class="denim_escape5"
									src="../../templates/uncategorized/tailor/resource/images/offer5.png"
									data-position="260,770" data-in="top" data-delay="5500"
									data-ease-in="easeOutBounce"> <img class="denim_escape6"
									src="../../templates/uncategorized/tailor/resource/images/offer6.png"
									data-position="260,770" data-in="top" data-delay="5500"
									data-ease-in="easeOutBounce"> <img class="denim_escape7"
									src="../../templates/uncategorized/tailor/resource/images/offer7.png"
									data-position="260,770" data-in="top" data-delay="5500"
									data-ease-in="easeOutBounce">
							</div>
	
	
							<div class="slide" data-in="fade">
								<img
									src="../../templates/uncategorized/tailor/resource/images/bannerbg.jpg"
									width="auto" height="auto" data-position="0,-200" data-in="fade"
									data-delay="200" data-out="right"> <img
									src="../../templates/uncategorized/tailor/resource/images/banner1.png"
									width="auto" height="auto" data-position="30,-120"
									data-in="bottomleft" data-delay="400"> <img
									src="../../templates/uncategorized/tailor/resource/images/banner2.png"
									width="auto" height="auto" data-position="110,390"
									data-in="left" data-delay="2000" data-out="left"> <img
									src="../../templates/uncategorized/tailor/resource/images/banner3.png"
									width="auto" height="auto" data-position="180,150"
									data-in="bottom" data-delay="3500" data-out="left"> <img
									class="denim_escape"
									src="../../templates/uncategorized/tailor/resource/images/offer.png"
									data-position="260,770" data-in="left" data-delay="5500"
									data-out="fade" data-ease-in="easeOutBounce"> <img
									class="denim_escape1"
									src="../../templates/uncategorized/tailor/resource/images/offer1.png"
									data-position="260,770" data-in="left" data-delay="5500"
									data-out="fade" data-ease-in="easeOutBounce"> <img
									class="denim_escape2"
									src="../../templates/uncategorized/tailor/resource/images/offer2.png"
									data-position="260,770" data-in="left" data-delay="5500"
									data-out="fade" data-ease-in="easeOutBounce"> <img
									class="denim_escape3"
									src="../../templates/uncategorized/tailor/resource/images/offer3.png"
									data-position="260,770" data-in="left" data-delay="5500"
									data-ease-in="easeOutBounce"> <img class="denim_escape4"
									src="../../templates/uncategorized/tailor/resource/images/offer4.png"
									data-position="260,770" data-in="left" data-delay="5500"
									data-ease-in="easeOutBounce"> <img class="denim_escape5"
									src="../../templates/uncategorized/tailor/resource/images/offer5.png"
									data-position="260,770" data-in="left" data-delay="5500"
									data-ease-in="easeOutBounce"> <img class="denim_escape6"
									src="../../templates/uncategorized/tailor/resource/images/offer6.png"
									data-position="260,770" data-in="left" data-delay="5500"
									data-ease-in="easeOutBounce"> <img class="denim_escape7"
									src="../../templates/uncategorized/tailor/resource/images/offer7.png"
									data-position="260,770" data-in="left" data-delay="5500"
									data-ease-in="easeOutBounce">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="image_slider_template2" name="imageslilder">
				<div id="myCarousel" class="carousel slide" data-ride="carousel"
					style="display: none;">
					Indicators
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img class="first-slide"
								src="../../templates/uncategorized/tailor/resource/images/full_banner.jpg"
								alt="First slide">
						</div>
						<div class="item">
							<img class="second-slide"
								src="../../templates/uncategorized/tailor/resource/images/full_banner.jpg"
								alt="Second slide">
						</div>
						<div class="item">
							<img class="third-slide"
								src="../../templates/uncategorized/tailor/resource/images/full_banner.jpg"
								alt="Third slide">
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel" role="button"
						data-slide="prev"> <span
						class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a> <a class="right carousel-control" href="#myCarousel" role="button"
						data-slide="next"> <span
						class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			/.carousel
		</section> -->
		<br>
		<br>
	
		<div id="container_banner-1">
			<img id="container_banner-1_img-1" name="image" alt="" src="../../templates/uncategorized/tailor/resource/images/full_banner.jpg" style="width:100%">
		</div>
		<!--banner part ends here-->
		
		<div class="clearfix"></div>
		<!--welcome starts here-->
		<section id="text_box_template1" class="welcome">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1 name="header">welcome to our store</h1>
						<p name="textarea">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Nullam sagittis mauris ut tellus mattis, nec ultrices felis
							consectetur. Nullam sit amet est pulvinar urna efficitur suscipit
							molestie vel nulla.</p>
					</div>
				</div>
			</div>
		</section>
		<!--welcome ends here-->
		<div class="clearfix"></div>
	
	
		<!--purple part starts here-->
		<section id="container_section-1" name="group">
			<div id="container_section-1_div-1" class="purple">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 id="header_template8" name="group_header">how it works</h2>
							<aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<aside class="col-xs-3 col-sm-4 col-md-3 col-lg-3">
									<img id="container_section-1_img-1"
										src="../../templates/uncategorized/tailor/resource/images/shirt-icon.png"
										alt="shirt" name="group_image">
								</aside>
								<aside class="col-xs-9 col-sm-8 col-md-9 col-lg-9"
									>
									<div name="group_textarea">
									<h3 id="header_template9">design your cloths</h3>
									<p id="text_template15">Lorem ipsum dolor sit amet, consect
										etuer adipiscing elit. Aenean commo do ligula eget</p>
									</div>
									<a name="group_button" id="text_template16" class="btn btn-info">start</a>
								</aside>
								<div class="clearfix"></div>
							</aside>
							<aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<aside class="col-xs-3 col-sm-4 col-md-3 col-lg-3">
									<img id="container_section-1_img-2"
										src="../../templates/uncategorized/tailor/resource/images/fabric-icon.png"
										alt="fabric" name="group_image">
								</aside>
								<aside class="col-xs-9 col-sm-8 col-md-9 col-lg-9">
									<div name="group_textarea">
									<h3 id="header_template10">choose the fabric</h3>
									<p id="text_template17">Lorem ipsum dolor sit amet, consect
										etuer adipiscing elit. Aenean commo do ligula eget</p>
										</div>
									<a id="text_template18" name="group_button" class="btn btn-info">start</a>
								</aside>
								<div class="clearfix"></div>
							</aside>
							<aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<aside class="col-xs-3 col-sm-4 col-md-3 col-lg-3">
									<img id="container_section-1_img-3"
										src="../../templates/uncategorized/tailor/resource/images/measure-icon.png"
										alt="measurement" name="group_image">
								</aside>
								<aside class="col-xs-9 col-sm-8 col-md-9 col-lg-9">
									<div name="group_textarea">
									<h3 id="header_template11">insert your measurements</h3>
									<p id="text_template19">Lorem ipsum dolor sit amet, consect
										etuer adipiscing elit. Aenean commo do ligula eget</p>
										</div>
									<a id="text_template20" name="group_button" class="btn btn-info">start</a>
								</aside>
								<div class="clearfix"></div>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--purple part ends here-->
	
	
		<div class="clearfix"></div>
		<!--four pics starts here-->
		<section id="container_section-2" class="four_pics">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<aside class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="mg-img" name="group">
									<figure>
										<img id="container_section-2_img-1" name="group_image"
											src="../../templates/uncategorized/tailor/resource/images/image1.jpg"
											alt="img1">
									</figure>
									<div class="caption">
										<div  name="group_textarea">
											<h2 id="header_template12">Annual Sale</h2>
											<h3 id="header_template13">
												<sup>upto</sup>30%<sub>off</sub>
											</h3>
										</div>
										<a id="text_template21" name="group_button"
											class="btn btn-info">shop</a>
									</div>
								</div>
							</aside>
							<aside class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="mg-img" name="group">
										<figure>
											<img id="container_section-2_img-2" name="group_image"
												src="../../templates/uncategorized/tailor/resource/images/image2.jpg"
												alt="img1" name="image">
										</figure>
										<div class="caption">
										<div  name="group_textarea">
											<h4 id="header_template14">upto</h4>
											<h6 id="header_template15">40%</h6>
											<h5 id="header_template16">off</h5>
											</div>
											<a id="text_template22" name="group_button"
												class="btn btn-info">shop</a>
										</div>
								</div>
								<div class="mg-img" name="group">
									<figure>
										<img id="container_section-2_img-3" name="group_image"
											src="../../templates/uncategorized/tailor/resource/images/image3.jpg"
											alt="img1" name="image">
									</figure>
									<div class="caption2" name="group_textarea">
									<div  name="group_textarea">
										<h4 id="header_template17">upto</h4>
										<h6 id="header_template18">50%</h6>
										<h5 id="header_template19">off</h5>
										</div>
										<a id="text_template23" name="group_button"
											class="btn btn-info">shop</a>
									</div>
								</div>
							</aside>
							<aside class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="mg-img" name="group">
									<figure>
										<img id="container_section-2_img-4" name="group_image"
											src="../../templates/uncategorized/tailor/resource/images/image4.jpg"
											alt="img1" name="image">
									</figure>
									<div class="caption" name="group_textarea">
									<div  name="group_textarea">
										<h2 id="header_template20">Annual Sale</h2>
										<h3 id="header_template21">
											<sup>upto</sup>20%<sub>off</sub>
										</h3>
										</div>
										<a id="text_template24" name="group_button"
											class="btn btn-info">shop</a>
									</div>
								</div>
							</aside>
						</div>
					</div>
				</div>
		</section>
		<!--four pics ends here-->
		<div class="clearfix"></div>
		
		<!--carousel part starts here-->
		<section id="container_section-3" class="slide2" name="group">
			<div id="container_section-3_div-1" >
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 id="header_template22" name = "group_header">make it mine !</h2>
							<p id="text_template25" name = "group_textarea">Lorem ipsum dolor sit
								amet, consectetur adipiscing elit. Nullam sagittis mauris ut
								tellus mattis, nec ultrices felis consectetur. Nullam sit amet est
								pulvinar urna efficitur suscipit molestie vel nulla.</p>
							<div class="products" name="group_imageslider" >
								<ul id="flexiselDemo3" data-pause_time="1000" data-animation_speed="3000" data-visible_items="7" data-total_item="7" data-autoPlay="true" data-pauseOnHover="true">
									<li><img id="container_section-3_img-1"
										src="../../templates/uncategorized/tailor/resource/images/dress1.jpg"
										alt="" /></li>
									<li><img id="container_section-3_img-2"
										src="../../templates/uncategorized/tailor/resource/images/dress2.jpg"
										alt="" /></li>
									<li><img id="container_section-3_img-3"
										src="../../templates/uncategorized/tailor/resource/images/dress3.jpg"
										alt="" /></li>
									<li><img id="container_section-3_img-4"
										src="../../templates/uncategorized/tailor/resource/images/dress4.jpg"
										alt="" /></li>
									<li><img id="container_section-3_img-5"
										src="../../templates/uncategorized/tailor/resource/images/dress5.jpg"
										alt="" /></li>
									<li><img id="container_section-3_img-6"
										src="../../templates/uncategorized/tailor/resource/images/dress6.jpg"
										alt="" /></li>
									<li><img id="container_section-3_img-7"
										src="../../templates/uncategorized/tailor/resource/images/dress7.jpg"
										alt="" /></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--carousel part ends here-->
		<div class="clearfix"></div>
		<!--feedback part starts-->
		<section id="container_section-4">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div id="text_box_template2" class="feedback">
							<h2 name="header">customer feedback</h2>
							<aside class="col-xs=12 col-sm-3 col-md-3 col-lg-3">
								<div class="text" name="textarea">
									<h3>Lorem Ipsum</h3>
									<p>Aenean commodo ligula eget dolor. Aenean massa. Cum
										sociis natoque penatibus et magnis dis parturient montes,
										nascetur ridiculus mus. Don ec quam felis, ultricies nec
										pellentes que eu, pretium quis, sem.</p>
									<h4>- John Doe</h4>
								</div>
							</aside>
							<aside class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
								<div class="thumb">
									<img id="container_section-4_img-1" class="img-responsive"
										src="../../templates/uncategorized/tailor/resource/images/thumbnail.jpg"
										alt="thumbnail" name="image">
									<div class="customer">
										<img id="container_section-4_img-2"
											src="../../templates/uncategorized/tailor/resource/images/customer.jpg"
											alt="customer" name="image">
									</div>
								</div>
							</aside>
						</div>
						<div class="clearfix"></div>
						<div class="offer">
							<aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4" name="textarea">
								<h3>
									tops upto <span>50% off</span>
								</h3>
								<a id="text_template33" href="#">limited time<i
									class="fa fa-caret-right"></i></a> <a id="text_template36"
									href="#">shop now<i
									class="fa fa-caret-right"></i></a>
							</aside>
							<aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4" name="textarea">
								<h3>
									tops upto <span>50% off</span>
								</h3>
								<a id="text_template34" href="#">limited time<i
									class="fa fa-caret-right"></i></a> <a id="text_template37"
									href="#">shop now<i
									class="fa fa-caret-right"></i></a>
							</aside>
							<aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4" name="textarea">
								<h3>
									tops upto <span>50% off</span>
								</h3>
								<a id="text_template35" href="#">limited time<i
									class="fa fa-caret-right"></i></a> <a id="text_template38"
									href="#">shop now<i
									class="fa fa-caret-right"></i></a>
							</aside>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--feedback part ends-->
		<div class="clearfix"></div>
	</div>
	</div>
</body>
