
<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="newsletter">
            <form class="form-inline" name="group">
              <div class="form-group form-group-lg">
                <label id="text_template39" name="group_textarea">join our mailing list</label>
                <input type="email" placeholder="Enter your emil id" class="form-control" name="group_textinput">
              </div>
              <button type="button" class="btn btn-info btn-lg" name="group_button">subscribe</button>
            </form>
          </div>
          <!-- <div id="text_box_template3" class="footer-nav">
            <aside class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
              <ul>
                <li class="active"><a href="#">home</a></li>
                <li><a href="#">men</a></li>
                <li><a href="#">women</a></li>
                <li><a href="#">kids</a></li>
                <li><a href="#">accessories</a></li>
                <li><a href="#">process</a></li>
                <li><a href="#">look book</a></li>
                <li><a href="#">contact</a></li>
              </ul>
            </aside>
            <aside class="col-xs-12 col-sm-5 col-md-3 col-lg-3">
              <ul class="social">
                <li><a href="index.html"><img src="/templates/uncategorized/tailor/resource/images/instagram-icon.png" alt="instagram"></a></li>
                <li><a href="#"><img src="/templates/uncategorized/tailor/resource/images/fb-icon.png" alt="facebook"></a></li>
                <li><a href="#"><img src="/templates/uncategorized/tailor/resource/images/twitter-icon.png" alt="twitter"></a></li>
                <li><a href="#"><img src="/templates/uncategorized/tailor/resource/images/pinterest-icon.png" alt="pinterest"></a></li>
                <li><a href="#"><img src="/templates/uncategorized/tailor/resource/images/in-icon.png" alt="linkedin"></a></li>
              </ul>
            </aside>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p id="text_template40" name="textarea">&copy; 2015 Copyright company.com All Rights Reserved.</p>
         <!--  <div class="styleswitch">
            <ul>
              <li><a href="javascript:chooseStyle('none', 60)">Default</a></li>
              <li><a href="javascript:chooseStyle('alternate', 60)">Theme1</a></li>
              <li><a href="javascript:chooseStyle('alternate2', 60)">Theme2</a></li>
              <li><a href="javascript:chooseStyle('alternate3', 60)">Theme3</a></li>
              <li><a href="javascript:chooseStyle('alternate4', 60)">Theme4</a></li>
              <li><a href="javascript:chooseStyle('alternate5', 60)">Theme5</a></li>
              <li><a href="javascript:chooseStyle('alternate6', 60)">Theme6</a></li>
              <li><a href="javascript:chooseStyle('alternate7', 60)">Theme7</a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  
</footer>
<script type="text/javascript">
$(window).load(function() {
	
	chooseStyle('none', 60);

    
    
});
</script>


</html> -->
