<!----  -Footer section----------->
<div class="footer-section">
     <div class="container">
	     <div class="row">
		    <div class="col-md-12">
			   <div class="footer-social-icon">
					<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
					<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
					<a href="#" class="skype"><i class="fa fa-skype"></i></a>
					<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
				</div>
				<div class="clearfix"></div>
				<p name="textarea" >Copyright © 2015 - Modern Restaurant. Designed by</p>
			</div>	
		 </div>
	 </div>
  </div>
<!-- /Footer Section -->