<!------Menu section---------->

	<ul id="menu" class="nav navbar-nav navbar-right">
			<li><a href="#" onclick="onMenuClick(this);"><i class="fa fa-star-o"></i>Home<i class="fa fa-star-o"></i></a></li>
			<li><a href="#" onclick="onMenuClick(this);"><i class="fa fa-star-o"></i>About<i class="fa fa-star-o"></i></a></li>
			<li><a href="#" onclick="onMenuClick(this);"><i class="fa fa-star-o"></i>Menu<i class="fa fa-star-o"></i></a></li>
			<li><a href="#" onclick="onMenuClick(this);"><i class="fa fa-star-o"></i>Reservations<i class="fa fa-star-o"></i></a></li>
			<li><a href="#" onclick="onMenuClick(this);"><i class="fa fa-star-o"></i>Contact<i class="fa fa-star-o"></i></a></li>
			<li class="add-menu"><a>+</a></li>
		</ul>