<!-- <header>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav>
            <aside class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mynavbar">
              <ul>
                <li id="text_template" name="textarea" class="active"><a href="#">Home</a></li>
                <li id="text_template" name="textarea"><a href="#">Catalogue</a></li>
                <li id="text_template" name="textarea"><a href="#">Blog</a></li>
                <li id="text_template" name="textarea"><a href="#">About Us</a></li>
              </ul>
            </aside>
            <aside class="col-xs-12 col-sm-6 col-md-6 col-lg-6 myrightnav">
              <ul>
                <li><a href="#"><img src="/templates/uncategorized/furniture/resource/images/Facebook.png" alt="facebook"></a></li>
                <li><a href="#"><img src="/templates/uncategorized/furniture/resource/images/twitter.png" alt="twitter"></a></li>
                <li><a href="#"><img src="/templates/uncategorized/furniture/resource/images/google-plus.png" alt="google_plus"></a></li>
                <li><a href="#"><img src="/templates/uncategorized/furniture/resource/images/Pinterest.png" alt="pinterest"></a></li>
              </ul>
              <ul id="header_template" name="textarea">
                <li id="text_template" name="textarea" class="login"><a href="#">Login</a></li>
                <li id="text_template" name="textarea"><a href="#">Register</a></li>
              </ul>
              <ul>
                <li id="text_template" name="textarea"><img src="/templates/uncategorized/furniture/resource/images/cart.png" alt="cart"></li>
              </ul>
            </aside>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="whitepart">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <aside class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
            <h1 id="header_template" name="textarea"><a class="logo" href="#"><img class="img-responsive" src="/templates/uncategorized/furniture/resource/images/furniture.png" alt="furniture"></a></h1>
            <h1 id="header_template" name="textarea"><a class="logo1" href="#"><img class="img-responsive" src="/templates/uncategorized/furniture/resource/images/furniture1.png" alt="furniture1"></a></h1>
            <h1 id="header_template" name="textarea"><a class="logo2" href="#"><img class="img-responsive" src="/templates/uncategorized/furniture/resource/images/furniture2.png" alt="furniture2"></a></h1>
            <h1 id="header_template" name="textarea"><a class="logo3" href="#"><img class="img-responsive" src="/templates/uncategorized/furniture/resource/images/furniture3.png" alt="furniture2"></a></h1>
            <h1 id="header_template" name="textarea"><a class="logo4" href="#"><img class="img-responsive" src="/templates/uncategorized/furniture/resource/images/furniture4.png" alt="furniture4"></a></h1>
            <h1 id="header_template" name="textarea"><a class="logo5" href="#"><img class="img-responsive" src="/templates/uncategorized/furniture/resource/images/furniture5.png" alt="furniture5"></a></h1>
            <h1 id="header_template" name="textarea"><a class="logo6" href="#"><img class="img-responsive" src="/templates/uncategorized/furniture/resource/images/furniture6.png" alt="furniture6"></a></h1>
          </aside>
          <aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-right">
            <div id="custom-search-input">
              <div class="input-group col-lg-4">
                <input type="text" class="form-control" placeholder="Type keywords" name="form_search_textarea"/>
                <span class="input-group-btn">
                <button id="" class="btn btn-info" type="button" name="form_search_button"> Search </button>
                </span> </div>
            </div>
          </aside>
          <div id="text_box_template" name="textarea" class="main-nav">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
                  <ul class="nav navbar-nav">
                    <li><a href="#">home<i class="fa fa-home"></i></a></li>
                    <li><a href="#">furniture<i class="fa fa-bed"></i></a></li>
                    <li><a href="#">features<i class="fa fa-star"></i></a></li>
                    <li><a href="#">blog<i class="fa fa-rss"></i></a></li>
                    <li><a href="#">about<i class="fa fa-question-circle"></i></a></li>
                    <li><a href="#">contact<i class="fa fa-mobile"></i></a></li>
                    <li class="active"><a href="#">view my wishlist<i class="fa fa-gift"></i></a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
 -->


<body>
<div id="container_background-1">
  <div id="container_background-1_div-1">

<!--slider strats here-->
<!-- <section class="banner">
  <div id="image_slider_template">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active"> <img class="first-slide" src="/templates/uncategorized/furniture/resource/images/banner.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <p id="text _template" name="textarea">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean ma ssa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
          </div>
        </div>
        <div class="item"> <img class="second-slide" src="/templates/uncategorized/furniture/resource/images/banner1.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <p id="text _template" name="textarea">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean ma ssa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
          </div>
        </div>
        <div class="item"> <img class="third-slide" src="/templates/uncategorized/furniture/resource/images/banner2.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <p id="text _template" name="textarea">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean ma ssa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
          </div>
        </div>
        <div class="item"> <img class="fourth-slide" src="/templates/uncategorized/furniture/resource/images/banner3.jpg" alt="fourth slide">
          <div class="container">
            <div class="carousel-caption">
              <p id="text _template" name="textarea">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean ma ssa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
          </div>
        </div>
        <div class="item"> <img class="first-slide" src="/templates/uncategorized/furniture/resource/images/banner.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <p id="text _template" name="textarea">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean ma ssa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<section id="container_section-1" class="banner" name="group">
  <div id="container_section-1_div-1" class="carousel-inner" role="listbox">
      <div class="item active"> 
        <img id="container_section-1_img-1" name="group_image" class="first-slide" src="/templates/uncategorized/furniture/resource/images/banner.jpg" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <p id="text _template" name="group_textarea">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean ma ssa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          </div>
        </div>
      </div>
  </div>
</section>



<!--banner part ends-->
<div class="clearfix"></div>
<!--welcome part starts-->
<section id="container_section-2" class="welcome" name="group">
  <div id="container_section-2_div-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 name="group_header">Welcome to our store</h1>
        </div>
        <p name="group_textarea">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. </p>
      </div>
    </div>
  </div>
  </div>
</section>
<!--welcome part ends-->
<div class="clearfix"></div>
<!--newsletter part starts-->
<section class="five_boxes" id="container_section-3" name="group">
  <div id="container_section-3_div-1">
  <div class="container">
    <div class="row">
      <div class="copl-lg-12">
        <aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="mg-img">
            <figure id="text_template"> <img id="container_section-3_img-1" name="group_image" src="/templates/uncategorized/furniture/resource/images/img1.jpg" alt="img1"> </figure>
            <div class="caption">
              <h4 id="header_template" name="group_textarea">Dine with your family</h4>
              <ul>
                <li><img id="container_section-3_img-2" name="group_image" src="/templates/uncategorized/furniture/resource/images/rating.png" alt="rating"></li>
                <li id="text_template" name="group_textarea" class="price">$1500</li>
                <li id="text_template" name="group_textarea" class="shop">Shop Now</li>
              </ul>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="mg-img">
            <figure id="text_template"> <img id="container_section-3_img-3" name="group_image" src="/templates/uncategorized/furniture/resource/images/img1.jpg" alt="img1"> </figure>
            <div class="caption">
              <h4 id="header_template" name="group_textarea">Your Bedroom lives here</h4>
              <ul>
                <li><img id="container_section-3_img-4" name="group_image" src="/templates/uncategorized/furniture/resource/images/rating.png" alt="rating"></li>
                <li id="text_template" name="group_textarea" class="price">$1500</li>
                <li id="text_template" name="group_textarea" class="shop">Shop Now</li>
              </ul>
            </div>
          </div>
        </aside>
        <aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="mg-img big-img">
            <figure id="text_template"> <img id="container_section-3_img-5" name="group_image" src="/templates/uncategorized/furniture/resource/images/img3.jpg" alt="img3"> </figure>
            <div class="caption">
              <h4 id="header_template" name="group_textarea">Your Bedroom lives here</h4>
              <ul>
                <li><img id="container_section-3_img-6" name="group_image" src="/templates/uncategorized/furniture/resource/images/rating.png" alt="rating"></li>
                <li id="text_template" name="group_textarea" class="price">$1500</li>
                <li id="text_template" name="group_textarea" class="shop">Shop Now</li>
              </ul>
            </div>
          </div>
        </aside>
        <aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="mg-img">
            <figure id="text_template"> <img id="container_section-3_img-7" name="group_image" src="/templates/uncategorized/furniture/resource/images/img1.jpg" alt="img1"> </figure>
            <div class="caption">
              <h4 id="header_template" name="group_textarea">Dine with your family</h4>
              <ul>
                <li><img id="container_section-3_img-8" name="group_image" src="/templates/uncategorized/furniture/resource/images/rating.png" alt="rating"></li>
                <li id="text_template" name="group_textarea" class="price">$1500</li>
                <li id="text_template" name="group_textarea" class="shop">Shop Now</li>
              </ul>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="mg-img">
            <figure id="text_template"> <img id="container_section-3_img-9" name="group_image" src="/templates/uncategorized/furniture/resource/images/img1.jpg" alt="img1"> </figure>
            <div class="caption">
              <h4 id="header_template" name="group_textarea">Your Bedroom lives here</h4>
              <ul>
                <li><img id="container_section-3_img-10" name="group_image" src="/templates/uncategorized/furniture/resource/images/rating.png" alt="rating"></li>
                <li id="text_template" name="group_textarea" class="price">$1500</li>
                <li id="text_template" name="group_textarea" class="shop">Shop Now</li>
              </ul>
            </div>
          </div>
        </aside>
        <div class="clearfix"></div>
      </div>
      </div>
    </div>
  </div>
</section>
<!--newsletter part ends-->
<div class="clearfix"></div>
<!--tabpart starts here-->
<section class="tabsection" id="container_section-4" name="group">
<div id="container_section-4_div-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <ul class="col-md-offset-3 col-lg-offset-3 nav nav-pills text-uppercase">
          <li id="text_template" name="textarea" class="active"><a data-toggle="pill" href="#popular">popular</a></li>
          <li id="text_template" name="textarea"><a data-toggle="pill" href="#newarrivals">new arrivals</a></li>
          <li id="text_template" name="textarea"><a data-toggle="pill" href="#bestellers">best sellers</a></li>
          <li id="text_template" name="textarea"><a data-toggle="pill" href="#special">special</a></li>
        </ul> -->
        <div class="tab-content">
          <div id="popular" class="tab-pane fade in active" name="group_imageslider">
            <ul id="flexiselDemo3" data-pause_time="1000" data-animation_speed="3000" data-visible_items="4" data-total_item="4" data-autoPlay="true" data-pauseOnHover="true">
              <li> <img id="container_section-4_img-1" src="/templates/uncategorized/furniture/resource/images/gal1.jpg" alt=""/>
                <!-- <h3 id="header_template" name="textarea">Lorem ipsum</h3>
                <p id="text_template" name="textarea">$&nbsp;1500</p>
                <aside class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <figure id="text_template" name="textarea"> <img src="/templates/uncategorized/furniture/resource/images/rating2.png" alt="rating"> </figure>
                </aside>
                <aside class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> <a id="text_template" name="textarea" href="#"><img src="/templates/uncategorized/furniture/resource/images/buy.png" alt="buy"></a> <a id="text_template" name="textarea" class="addtocart" href="#"><img src="/templates/uncategorized/furniture/resource/images/cart2.png" alt="cart"></a> </aside>
                <div class="clearfix"></div> -->
              </li>
              <li> <img id="container_section-4_img-2" src="/templates/uncategorized/furniture/resource/images/gal2.jpg" alt=""/>
                <!-- <h3 id="header_template" name="textarea">Lorem ipsum</h3>
                <p id="text_template" name="textarea">$&nbsp;1500</p>
                <aside class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <figure id="text_template" name="textarea"> <img src="/templates/uncategorized/furniture/resource/images/rating2.png" alt="rating"> </figure>
                </aside>
                <aside class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> <a id="text_template" name="textarea" href="#"><img src="/templates/uncategorized/furniture/resource/images/buy.png" alt="buy"></a> <a id="text_template" name="textarea" class="addtocart" href="#"><img src="/templates/uncategorized/furniture/resource/images/cart2.png" alt="cart"></a> </aside>
                <div class="clearfix"></div> -->
              </li>
              <li> <img id="container_section-4_img-3" src="/templates/uncategorized/furniture/resource/images/gal3.jpg" alt=""/>
                <!-- <h3 id="header_template" name="textarea">Lorem ipsum</h3>
                <p id="text_template" name="textarea">$&nbsp;1500</p>
                <aside class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <figure id="text_template" name="textarea"> <img src="/templates/uncategorized/furniture/resource/images/rating2.png" alt="rating"> </figure>
                </aside>
                <aside class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> <a id="text_template" name="textarea" href="#"><img src="/templates/uncategorized/furniture/resource/images/buy.png" alt="buy"></a> <a id="text_template" name="textarea" class="addtocart" href="#"><img src="/templates/uncategorized/furniture/resource/images/cart2.png" alt="cart"></a> </aside>
                <div class="clearfix"></div> -->
              </li>
              <li> <img id="container_section-4_img-4" src="/templates/uncategorized/furniture/resource/images/gal4.jpg" alt=""/>
                <!-- <h3 id="header_template" name="textarea">Lorem ipsum</h3>
                <p id="text_template" name="textarea">$&nbsp;1500</p>
                <aside class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <figure id="text_template" name="textarea"> <img src="/templates/uncategorized/furniture/resource/images/rating2.png" alt="rating"> </figure>
                </aside>
                <aside class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> <a id="text_template" name="textarea" href="#"><img src="/templates/uncategorized/furniture/resource/images/buy.png" alt="buy"></a> <a id="text_template" name="textarea" class="addtocart" href="#"><img src="/templates/uncategorized/furniture/resource/images/cart2.png" alt="cart"></a> </aside>
                <div class="clearfix"></div> -->
              </li>
            </ul>
          </div>
          <!-- <div id="newarrivals" class="tab-pane fade">
            <h3 id="header_template" name="textarea">Menu 1</h3>
            <p id="text_template" name="textarea">Some content in menu 1.</p>
          </div>
          <div id="bestellers" class="tab-pane fade">
            <h3 id="header_template" name="textarea">Menu 2</h3>
            <p id="text_template" name="textarea">Some content in menu 2.</p>
          </div>
          <div id="special" class="tab-pane fade">
            <h3 id="header_template" name="textarea">Menu 2</h3>
            <p id="text_template" name="textarea">Some content in menu 2.</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--tabpart ends here-->
<div class="clearfix"></div>
<!--manufactures part starts here-->
<section class="manufacturers" id="container_section-5" name="group">
  <div id="container_section-5_div-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" name="group_imageslider">
        <h2 id="header_template" name="group_header">Manufacturers</h2>
        <ul id="flexiselDemo2" data-pause_time="1000" data-animation_speed="3000" data-visible_items="6" data-total_item="6" data-autoPlay="true" data-pauseOnHover="true">
          <li id="container_section-5_img-1"><img src="/templates/uncategorized/furniture/resource/images/logo1.jpg" alt="logo1"/></li>
          <li id="container_section-5_img-2"><img src="/templates/uncategorized/furniture/resource/images/logo2.jpg" alt="logo2"/></li>
          <li id="container_section-5_img-3"><img src="/templates/uncategorized/furniture/resource/images/logo3.jpg" alt="logo3"/></li>
          <li id="container_section-5_img-4"><img src="/templates/uncategorized/furniture/resource/images/logo4.jpg" alt="logo4"/></li>
          <li id="container_section-5_img-5"><img src="/templates/uncategorized/furniture/resource/images/logo5.jpg" alt="logo5"/></li>
          <li id="container_section-5_img-6"><img src="/templates/uncategorized/furniture/resource/images/logo6.jpg" alt="logo6"/></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--manufactures part ends here-->
<div class="clearfix"></div>
<!--greypart starts here-->
<section class="greypart" id="container_section-6" name="group">
<div id="container_section-6_div-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <aside  class="col-xs-12 col-sm-4 col-md-4 col-lg-4 three_boxes"> <img name="group_image" id="container_section-6_img-1" src="/templates/uncategorized/furniture/resource/images/safe.png" alt="safe&secure">
          <h2 name="group_header">Safe & Secure</h2>
          <p name="group_textarea">Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit. Aenean co mmodo ligula eget dolor</p>
        </aside>
        <aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4 three_boxes"> <img name="group_image" id="container_section-6_img-2" src="/templates/uncategorized/furniture/resource/images/moneyback.png" alt="moneyback">
          <h2 name="group_header" >Money back Guarantee</h2>
          <p name="group_textarea" >Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit. Aenean co mmodo ligula eget dolor</p>
        </aside>
        <aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4 three_boxes"> <img name="group_image" id="container_section-6_img-3" src="/templates/uncategorized/furniture/resource/images/shipping.png" alt="freeshipping">
          <h2 name="group_header">Free Shipping</h2>
          <p name="group_textarea">Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit. Aenean co mmodo ligula eget dolor</p>
        </aside>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>
<!--greypart ends here-->
<div class="clearfix"></div>

</div>
</div>

</body>
