
<footer>
  <section class="footer-top" id="container_section-7" name="group">
  <div id="container_section-7_div-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <aside class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <div class="row">
              <!-- <nav>
                <ul>
                  <li id="text_template" name="textarea" class="active"><a href="index.html">home</a></li>
                  <li id="text_template" name="textarea"><a href="#">furniture</a></li>
                  <li id="text_template" name="textarea"><a href="#">features</a></li>
                  <li id="text_template" name="textarea"><a href="#">blog</a></li>
                  <li id="text_template" name="textarea"><a href="#">about us</a></li>
                  <li id="text_template" name="textarea"><a href="#">catalogue</a></li>
                  <li id="text_template" name="textarea"><a href="#">contact us</a></li>
                </ul>
              </nav> -->
            </div>
          </aside>
          <aside class="col-xs-12 col-sm-5 col-md-5 col-lg-5 social-icons2">
            <div class="row">
              <!-- <ul>
                <li id="text_template" name="textarea"><a href="#"><img src="../../templates/uncategorized/furniture/resource/images/footerfb.png" alt="facebook"></a></li>
                <li id="text_template" name="textarea"><a href="#"><img src="../../templates/uncategorized/furniture/resource/images/footertwit.png" alt="twitter"></a></li>
                <li id="text_template" name="textarea"><a href="#"><img src="../../templates/uncategorized/furniture/resource/images/footergplus.png" alt="google_plus"></a></li>
                <li id="text_template" name="textarea"><a href="#"><img src="../../templates/uncategorized/furniture/resource/images/footerpin.png" alt="pinterest"></a></li>
              </ul> -->
            </div>
          </aside>
          <div class="clearfix"></div>
          <div class="border"></div>
          <aside class="col-xs-12 col-sm-6 col-md-3 col-lg-3 four_boxes">
            <h2 name="group_header">about us</h2>
            <p name="group_textarea">Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit. Aenean co mmodo ligula eget dolor</p>
            <!-- <ul>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Cum sociis natoque penatibus et</a></li>
              <li><a href="#">Nullam dictum felis eu pede mollis </a></li>
              <li><a href="#">Donec vitae sapien ut libero </a></li>
              <li><a href="#">Aenean vulputate eleifend tellus</a></li>
            </ul> -->
          </aside>
          <aside id="text_box_template" name="textarea" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 four_boxes">
            <h2 name="group_header">Home Inspiration</h2>
            <p name="group_textarea">Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit. Aenean co mmodo ligula eget dolor</p>
            <!-- <ul>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Cum sociis natoque penatibus et</a></li>
              <li><a href="#">Nullam dictum felis eu pede mollis </a></li>
              <li><a href="#">Donec vitae sapien ut libero </a></li>
              <li><a href="#">Aenean vulputate eleifend tellus</a></li>
            </ul> -->
          </aside>
          <aside id="text_box_template" name="textarea" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 four_boxes">
            
            <h2 name="group_header">Buying Furniture Online</h2>
            <p name="group_textarea">Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit. Aenean co mmodo ligula eget dolor</p>
            <!-- <ul>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Cum sociis natoque penatibus et</a></li>
              <li><a href="#">Nullam dictum felis eu pede mollis </a></li>
              <li><a href="#">Donec vitae sapien ut libero </a></li>
              <li><a href="#">Aenean vulputate eleifend tellus</a></li>
            </ul> -->
          </aside>
          <aside id="text_box_template" name="textarea" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 four_boxes">
            
            <h2 name="group_header">Customer Support</h2>
            <p name="group_textarea">Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit. Aenean co mmodo ligula eget dolor</p>
            <!-- <ul>
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Cum sociis natoque penatibus et</a></li>
              <li><a href="#">Nullam dictum felis eu pede mollis </a></li>
              <li><a href="#">Donec vitae sapien ut libero </a></li>
              <li><a href="#">Aenean vulputate eleifend tellus</a></li>
            </ul> -->
          </aside>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul id="text_box_template" name="textarea">
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
          <p id="text_template" name="textarea">&copy;2015 Copyright. All Rights Reserved.</p>
          <div class="styleswitch">
            <ul>
              <li><a href="javascript:chooseStyle('none', 60)">Default</a></li>
              <li><a href="javascript:chooseStyle('alternate', 60)">Theme1</a></li>
              <li><a href="javascript:chooseStyle('alternate2', 60)">Theme2</a></li>
              <li><a href="javascript:chooseStyle('alternate3', 60)">Theme3</a></li>
              <li><a href="javascript:chooseStyle('alternate4', 60)">Theme4</a></li>
              <li><a href="javascript:chooseStyle('alternate5', 60)">Theme5</a></li>
              <li><a href="javascript:chooseStyle('alternate6', 60)">Theme6</a></li>
              <li><a href="javascript:chooseStyle('alternate7', 60)">Theme7</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</footer>
<!--footer part ends here--> 

<script type="text/javascript">

$(window).load(function() {

//     $("#flexiselDemo3").flexisel({
//         visibleItems: 4,
//         animationSpeed: 1000,
//         autoPlay: true,
//         autoPlaySpeed: 3000,            
//         pauseOnHover: true,
//         enableResponsiveBreakpoints: true,
//         responsiveBreakpoints: { 
//             portrait: { 
//                 changePoint:480,
//                 visibleItems: 1
//             }, 
//             landscape: { 
//                 changePoint:640,
//                 visibleItems: 2
//             },
//             tablet: { 
//                 changePoint:768,
//                 visibleItems: 3
//             }
//         }
//     });
    
// });
// $("#flexiselDemo2").flexisel({
// 		visibleItems: 6,
//         enableResponsiveBreakpoints: true,
//         responsiveBreakpoints: { 
//             portrait: { 
//                 changePoint:480,
//                 visibleItems: 1
//             }, 
//             landscape: { 
//                 changePoint:640,
//                 visibleItems: 2
//             },
//             tablet: { 
//                 changePoint:768,
//                 visibleItems: 3
//             }
//         }
//     });
</script>
