
<link href="/templates/uncategorized/furniture/css/style.css" rel="stylesheet" media="all">
<link href="/templates/uncategorized/furniture/css/theme1.css" rel="alternate stylesheet" type="text/css" title="alternate">
<link href="/templates/uncategorized/furniture/css/theme2.css" rel="alternate stylesheet" type="text/css" title="alternate2">
<link href="/templates/uncategorized/furniture/css/theme3.css" rel="alternate stylesheet" type="text/css" title="alternate3">
<link href="/templates/uncategorized/furniture/css/theme4.css" rel="alternate stylesheet" type="text/css" title="alternate4">
<link href="/templates/uncategorized/furniture/css/theme5.css" rel="alternate stylesheet" type="text/css" title="alternate5">
<link href="/templates/uncategorized/furniture/css/theme6.css" rel="alternate stylesheet" type="text/css" title="alternate6">
<link href="/templates/uncategorized/furniture/css/theme7.css" rel="alternate stylesheet" type="text/css" title="alternate7">
<link href="/templates/uncategorized/furniture/css/responsive-style.css" rel="stylesheet">

<!-- [if lt IE 9]
   <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
[endif] -->

<script src="/templates/uncategorized/furniture/js/styleswitcher.js" type="text/javascript"></script>
