
<!-------Main slider---------------------->
<div id="container_background-1">
<div id="container_background-1_div-1">
<section id="container_section-1" class="main-carousel">
	<div id="container_section-1_div-1"> 
	 <div id="main-slider" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="item active" name="group">
			   <img id="container_section-1_img-1" style="width: 100%" name="group_image" src="/templates/uncategorized/hotel/resource/images/slide/slide1.jpg" class="img-responsive">
			    <div class="carousel-caption">
					<h1 name="group_header" data-animation="animated zoomInLeft" class="">Donec convallis consectetur</h1>
					  <p name="group_textarea" data-animation="animated flipInX" class="">Sed at lobortis urna, sed porta metus. Donec consequat et</p>
					 <a name="group_button" class="view-all-btn" href="#" role="button" data-animation="animated zoomInUp">Read more</a> 
			    </div>
			 </div>
			 <!-- <div class="item">
			   <img src="/templates/uncategorized/hotel/resource/images/slide/slide2.jpg" class="img-responsive">
			    <div class="carousel-caption">
					<h1 data-animation="animated zoomInLeft" class="">Donec convallis consectetur</h1>
					  <p data-animation="animated flipInX" class="">Sed at lobortis urna, sed porta metus. Donec consequat et</p>
					 <a class="view-all-btn" href="#" role="button" data-animation="animated zoomInUp">Read more</a> 
			     </div>
			 </div>
			  <div class="item">
			    <img src="/templates/uncategorized/hotel/resource/images/slide/slide3.jpg" class="img-responsive">
			      <div class="carousel-caption">
					<h1 data-animation="animated zoomInLeft" class="">Donec convallis consectetur</h1>
					  <p data-animation="animated flipInX" class="">Sed at lobortis urna, sed porta metus. Donec consequat et</p>
					 <a class="view-all-btn" href="#" role="button" data-animation="animated zoomInUp">Read more</a> 
			     </div>
			 </div> -->
		</div> 
		
		<!-- Pagination --> 
		<!-- <ul class="carou-direction-nav">
			<li><a class="carou-prev" href="#main-slider" data-slide="prev"></a></li>
			<li><a class="carou-next" href="#main-slider" data-slide="next"></a></li>
		</ul>  -->
		<!-- /Pagination -->
	</div>
	</div>
</section> 
<!-------/Main slider---------------------->
<!------Book_now Section------------------->
<div class="book_now_section" name="group">
  <div class="container">
	<div class="row">
	  <div class="col-sm-offset-1 find-course-form">
	    <input name="group_textinput" type="email" class="col-md-2 coll-form-control" id="receipt" placeholder="Arrive">
		  <input name="group_textinput" type="email" class="col-md-2 coll-form-control" id="receipt" placeholder="Depart">
		   <select name="group_dropdown" class="col-md-2 coll-form-control" name="" id="adults" >
				<option value="" selected="">adults</option>
				<option value="">1</option>
				<option value="">2</option>
				<option value="">3</option>
				<option value="">4</option>
			</select>
			<select name="group_dropdown" class="col-md-2 coll-form-control" name="" id="room" >
				<option value="" selected="">Room</option>
				 <option value="">Single</option>
				 <option value="">Delux Double</option>
				 <option value="">Super Delux</option>
				 <option value="">Delux Single</option>
			</select>
			<div class="main-btn-area"><button name="group_button" href="#" class="main-btn">Book Now</button></div>	
		</div>
	  </div>
  </div>
</div>  
<!------/Book_now Section------------------->
<div class="clearfix"></div>
<!-----------Services Section------------------> 
<section id="container_section-2" class="services-section" name="group">
 <div id="container_section-2_div-1">
 <div class="container">
  <div class="row">
	<div class="col-md-12">
		<div class="section-title">
			<h1 name="group_header">Welcome To Our Hotel</h1>
			<div name="group_image" class="pagetitle-separator"></div>
		</div>
	  </div>
	</div>
	
      <div class="row">
	     <div class="col-md-4 col-sm-6">
			<div class="home-room-col">
			  <div class="home-room-img">
				  <span name="group_textarea" class="room-title">Grand Superior Room</span>
				   <img id="container_section-2_img-1" name="group_image" src="/templates/uncategorized/hotel/resource/images/room/4.jpg" class="img-responsive">
				   <!--  <div class="room-showcase-overlay">
				     <div class="room-showcase-overlay-inner">
					  <div class="room-showcase-icons">
					    <a href="/templates/uncategorized/hotel/resource/images/room/4.jpg" data-lightbox="image" title="Hotel" class="hover_thumb"><i class="fa fa-search"></i></a>
					 </div>
				    </div> 
				  </div> -->
				 </div>
				 <div class="home-room-details">
					<h3 name="group_textarea"><!-- <a href="#"> -->Start From $52.00 / Night<!-- </a> --></h3>								
				</div>
		  </div>
		 </div>
		 
		  <div class="col-md-4 col-sm-6">
			<div class="home-room-col">
			  <div class="home-room-img">
				  <span name="group_textarea" class="room-title">Grand Superior Room</span>
				   <img id="container_section-2_img-2" name="group_image" src="/templates/uncategorized/hotel/resource/images/room/6.jpg" class="img-responsive">
				    <!-- <div class="room-showcase-overlay">
				     <div class="room-showcase-overlay-inner">
					  <div class="room-showcase-icons">
					    <a href="/templates/uncategorized/hotel/resource/images/room/6.jpg" data-lightbox="image" title="Hotel" class="hover_thumb"><i class="fa fa-search"></i></a>
					 </div>
				    </div> 
				  </div> -->
				 </div>
				 <div class="home-room-details">
					<h3 name="group_textarea"><!-- <a href="#"> -->Start From $63.00 / Night<!-- </a> --></h3>								
				</div>
		  </div>
		 </div>
		 
		  <div class="col-md-4 col-sm-6">
			<div class="home-room-col">
			  <div class="home-room-img">
				  <span name="group_textarea" class="room-title">Grand Superior Room</span>
				   <img id="container_section-2_img-3" name="group_image" src="/templates/uncategorized/hotel/resource/images/room/5.jpg" class="img-responsive">
				    <!-- <div class="room-showcase-overlay">
				     <div class="room-showcase-overlay-inner">
					  <div class="room-showcase-icons">
					    <a href="/templates/uncategorized/hotel/resource/images/room/5.jpg" data-lightbox="image" title="Hotel" class="hover_thumb"><i class="fa fa-search"></i></a>
					 </div>
				    </div> 
				  </div> -->
				 </div>
				 <div class="home-room-details">
					<h3 name="group_textarea"><!-- <a href="#"> -->Start From $78.00 / Night<!-- </a> --></h3>								
				</div>
		  </div>
		 </div>
     </div>
	 <div class="main-btn-area text-center"><button name="group_button" href="#" class="main-btn">View All Room</button></div>	
   </div>
   </div>	 
  </section>
<!-----------Services Section------------------>  
<div class="clearfix"></div>
 
<!-------Callout Section------------>
<div id="container_section-3" class="callout-section" name="group">
	<div id="container_section-3_div-1" class="overlay">
		<div class="container">
			<div class="row">	
				<div class="col-md-12">	
					<h1 name="group_header">We Reimagined Luxury</h1>
					<p name="group_textarea">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed sollicitudin.</p>
				</div>	
			</div>			
		
		</div>	
	</div>	
</div>
<!-- /Callout Section -->
	
<!-- Feature Section -->
<section class="services-section" name="group" id="container_section-4">
<div id="container_section-4_div-1" class="container">
 <div class="row">
	<div class="col-md-12">
		<div class="section-title">
			<h1 name="group_header">Our Features</h1>
			<div name="group_textarea" class="pagetitle-separator"></div>
		</div>
	  </div>
	</div>
 <div class="row">
     <div class="col-md-4 col-sm-6 feature-col">
	     <!-- <a href="#"> --><i class="fa fa-cutlery"></i><!-- </a> -->
			<h3 name="group_header"><!-- <a href="#"> -->Luxury Accommodations<!-- </a> --></h3>
			<p name="group_textarea" >Lorem Ipsum which looks reason able. The generated Lorem 
			   Ipsum is therefore always free.Lorem Ipsum which looks reason able. The generated Lorem Ipsum is therefore always free.</p>
			<button name="group_button" href="#" class="main-btn">Read More</button>
	  </div>
	  <div class="col-md-4 col-sm-6 feature-col">
	        <!-- <a href="#"> --><i class="fa fa-trophy"></i><!-- </a> -->
			<h3 name="group_header"><!-- <a href="#"> -->Special Offer<!-- </a> --></h3>
			<p name="group_textarea">Lorem Ipsum which looks reason able. The generated Lorem Ipsum is therefore 
			    always free.Lorem Ipsum which looks reason able. The generated Lorem Ipsum is therefore always free.</p>
			<button name="group_button" href="#" class="main-btn">Read More</button>
	  </div>
	  <div class="col-md-4 col-sm-6 feature-col">
	      <!-- <a href="#"> --><i class="fa fa-desktop"></i><!-- </a> -->
			<h3 name="group_header"><!-- <a href="#"> -->Online Reservation<!-- </a> --></h3>
			<p name="group_textarea">Lorem Ipsum which looks reason able. The generated Lorem 
			   Ipsum is therefore always free.Lorem Ipsum which looks reason able. The generated Lorem Ipsum is therefore always free.</p>
			<button name="group_button" href="#" class="main-btn">Read More</button>
	  </div>
   
   </div>
	
</div>
</section>
</div>
</div>