
<section id="container_footer-1" class="footer" name="group">
 <div id="container_footer-1_div-1" class="footer-inner">
	<div class="container">
			<div class="row">
				<div class="col-md-3" name="group_textarea">
				   <div class="footer-widget clearfix">
					  <h4 >Contact info</h4>
						<div class="contact_link">
							<a href="#"><i class="fa fa-home"></i>Some street.some town</a>
							<a href="#"><i class="fa fa-calendar-o"></i>Some Postcode.some UK</a>
							<a href="#"><i class="fa fa-phone"></i>(85)8998-4488-896</a>
							<a href="#"><i class="fa fa-envelope-o"></i><span>info@online.edu.com</span></a>
						</div>
					</div>
				 </div>
				 <div class="col-md-3"  name="group_textarea">
					<div class="footer-widget clearfix">
						<h4 >About</h4>
						  <ul class="tags-cloud clearfix">
							<li ><a href="#.">Blog Posts</a></li>
							<li ><a href="#.">Wordpress</a></li>
							<li ><a href="#.">Business</a></li>
							<li ><a href="#.">Graphic</a></li>
						 </ul>
					</div>
				 </div>
				<div class="col-md-3"  name="group_textarea">
					<div class="footer-widget clearfix">
					  <h4 >Change language</h4>
						<ul class="tags-cloud clearfix">
							<li ><a href="#.">Blog Posts</a></li>
							<li ><a href="#.">Wordpress</a></li>
							<li ><a href="#.">Business</a></li>
							<li ><a href="#.">Graphic</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3"  name="group_textarea">
					<div class="footer-widget clearfix">
					  <h4 >Newsletter</h4>
						<div class="contact_link">
						  <p >Join our newsletter to keep be informed about offers and news.</p>
						     <form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2">
							   <div class="form-group" name="group_input">
								 <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Your mail" class="form-control">
							   </div>
							  <button name="group_button" type="submit" class="btn_1 white" id="submit-newsletter_2">Subscribe</button>
							</form>
						</div>
					</div>
				</div>
			</div>


   <div class="row">
     <div class="col-md-12">
	   <div class="footer-social-icon">
			<a name="group_button" href="#" class="f-facebook"><i class="fa fa-facebook"></i></a>
			<a name="group_button" href="#" class="f-twitter"><i class="fa fa-twitter"></i></a>
			<a name="group_button" href="#" class="f-skype"><i class="fa fa-skype"></i></a>
			<a name="group_button" href="#" class="f-google-plus"><i class="fa fa-google-plus"></i></a>
		</div>
	 </div>
   </div>
</section>	
