
	<link href="../../templates/uncategorized/hotel/css/default.css" rel="stylesheet">
	<link href="../../templates/uncategorized/hotel/css/style.css" rel="stylesheet" type="text/css">

	<link href="../../templates/uncategorized/hotel/css/media-responsive.css" type="text/css" rel="stylesheet">
    <link href="../../templates/uncategorized/hotel/css/animate.min.css" rel="stylesheet" type="text/css">
	<link href="../../templates/uncategorized/hotel/css/fonts/fonts.css" rel="stylesheet" type="text/css">
	<link href="../../templates/uncategorized/hotel/css/lightbox/lightbox.css" rel="stylesheet" type="text/css">

    <link href="../../templates/uncategorized/hotel/css/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<link href="../../templates/uncategorized/hotel/css/switcher/switcher.css" rel="stylesheet">
	<link href="../../templates/uncategorized/hotel/css/switcher/spectrum.css" rel="stylesheet">	 

	 <script type="text/javascript" src="../../templates/uncategorized/hotel/js/lightbox/lightbox-2.6.min.js"></script>
	 <script type="text/javascript" src="../../templates/uncategorized/hotel/js/menu.js"></script>
	 <script type="text/javascript" src="../../templates/uncategorized/hotel/js/carousel.js"></script>

	 <script type="text/javascript" src="../../templates/uncategorized/hotel/js/switcher/colorscheme.js"></script>
	 <script type="text/javascript" src="../../templates/uncategorized/hotel/js/switcher/spectrum.js"></script>
     <script type="text/javascript" src="../../templates/uncategorized/hotel/js/switcher/switcher.js"></script>
    