<!------Menu section---------->
<ul id="menu" class="nav navbar-nav">
	<li><a href="#" onclick="onMenuClick(this);" >Home</a></li>
	<li><a href="#" onclick="onMenuClick(this);">About us</a></li>
	<li><a href="#" onclick="onMenuClick(this);">Room</a></li>
	<li><a href="#" onclick="onMenuClick(this);">Accommodtion</a></li>
	<li><a href="#" onclick="onMenuClick(this);">Contact</a></li>
	<li class="add-menu"><a>+</a></li>
</ul>

<!--  <div class="col-sm-3 col-md-3 pull-right">
			  <form class="search-box-top" role="search">
			    <div class="input-group" name="textinput">
				  <input type="text" class="form-control " placeholder="Search Here" aria-describedby="basic-addon2">
				    <a href="#" class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></a>
				 </div>
			   </form>
			</div> -->